[submodule "z17-randomizer"]
	path = z17-randomizer
	url = https://github.com/randomsalience/z17-randomizer/
	branch = archipelago
[submodule "albw-ap-poptracker"]
	path = albw-ap-poptracker
	url = https://github.com/Legendgreat/albw-ap-poptracker.git
