name: Build/release

on: push

permissions:
 contents: write
 
jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Install Node.js and NPM
        uses: actions/setup-node@v6
        with:
          node-version: 25

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        
      - name: Build and release
        run: npm run publish
        env:
          GH_TOKEN: ${{ secrets.github_token }}
