name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

 steps:
   # Windows fix. See https://github.com/actions/checkout/issues/226
   - run: git config --global core.autocrlf false

   - name: Check out Git repository
     uses: actions/checkout@v4

   - name: Install pnpm
     uses: pnpm/action-setup@v4
     with:
       version: 9

   - name: Install Node.js, NPM and pnpm
     uses: actions/setup-node@v4
     with:
       node-version: 20
       cache: 'pnpm'

   - name: Update pnpm configuration for hoisted dependencies
     shell: bash
     run: |
       if ! grep -q "shamefully-hoist=true" .npmrc; then
         echo "shamefully-hoist=true" >> .npmrc
       fi
       if ! grep -q "node-linker=hoisted" .npmrc; then
         echo "node-linker=hoisted" >> .npmrc
       fi

   - name: Install dependencies
     run: pnpm install

   - name: Build/release Electron app
     uses: sudovijay/action-electron-builder@v1.7.4
     with:
       # GitHub token, automatically provided to the action
       # (No need to define this secret in the repo settings)
       github_token: ${{ secrets.github_token }}

       # sign mac app
       mac_certs: ${{ secrets.mac_certs }}
       mac_certs_password: ${{ secrets.mac_certs_password }}

       # If the commit is tagged with a version (e.g. "v1.0.0"),
       # release the app after building
       release: ${{ env.is_tag == 'true' }}
      
